{{> head }}

	{{> navbar }}

	<section class="bg-light bg-gradient">
		<div class="container">
			<div class="row p-4">
				<div class="col-12">
					<h1>Hello, {{ capitalizar nombre }}!</h1>
					<hr>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla provident voluptates excepturi animi dolore reiciendis ad nesciunt molestiae, officiis libero! Eius laudantium, deleniti neque similique deserunt vel consequuntur laboriosam. Possimus.</p>
					<br />
					<button type="button" class="btn btn-primary">Learn more</button>
					<br />
					<br />
					<br />
				</div>
			</div>
		</div>
	</section>

{{> footer }}